[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mesa = {extras = ["rec"], file = ".", editable = true}
pytest = "*"
streamlit = "*"
pandas = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.12"
